* {
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0.5);
    color: rgb(255, 252, 252);
    background-color: rgba(72, 117, 5, 0.633);
}

button,
a {
    cursor: pointer;
}

button:hover {
    background-color: rgb(20, 42, 8);
    transform: scale(1.1);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: rgba(72, 117, 5, 0.633)
}

header {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegúrate de que esté encima del body */
    background-color: rgba(0, 0, 0, 0.5);
    /* Negro semi-transparente */
    color: white;
    /* Texto blanco para contraste */
    padding: 10px 20px;
    backdrop-filter: blur(5px);
    /* Opcional: da un efecto de desenfoque */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Opcional: añade sombra */

}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-size: 1.6em;
    font-weight: bold;
    color: rgba(249, 249, 249, 0.633);
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    /* width: 70%;
    padding-top: 2.3%; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: column; */
    /* Reparte los contenedores del nav */
    align-items: center;
    text-align: center;
    padding-bottom: 25px;

}

header a {

    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(249, 249, 249, 0.633);
}

header a:hover {
    color: rgb(45, 116, 7);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;

    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img-hero/carrizal_agua.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.parallax {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1rem;
}

#hero h1 {
    color: white;
}

#us {
    text-align: center;
    padding: 200px 12px;
}

#us p {
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
    /* Color de texto más suave */
    max-width: 800px;
    /* Limita el ancho del texto */
    margin: 0 auto;
    /* Centra el párrafo */
    text-align: justify;
}

#around {
    background-color: rgb(30, 30, 30);
    color: white;

    text-align: center;
}

#around .container {
    padding: 150px 12px
}

#around h2 {
    margin-top: 0;
    font-size: 3em;
}

#around p {
    display: none;
}

#around .carta {
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img-cart/images.jpg");
    background-position: center;
    background-size: cover;
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img-cart/atardecer.jpg");
    background-position: bottom center;
    background-size: cover;
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img-cart/cocina.avif");
    background-position: center center;
    background-size: cover;
}

#activities .container {
    justify-content: center;
    text-align: justify;
    padding: 200px 12px;
}

#activities li {
    margin: 16px 0px;
}


#house {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 200px 12px;
    background-color: white;
    color: black;
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* Asegura que ocupe al menos la altura de la pantalla */
    box-sizing: border-box;
    /* Incluye padding y bordes en el cálculo del ancho */
}

#house p {
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

#house .gallery {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    min-width: 100%;
    height: auto;
    display: none;
}

.carousel img.active {
    display: block;
}

.gallery button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    border-radius: 50%;
}

.gallery button.prev {
    left: 10px;
}

.gallery button.next {
    right: 10px;
}

.gallery button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.gallery1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery1 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#section2 h2 {
    text-align: center;
}

#ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img-final/casa_lejos.avif);
    background-position: bottom;
    background-size: cover;
}

.contact {
    padding: 50px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 30px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.list {
    margin-top: 20px;
}

.list h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.message {
    color: green;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

#productList {
    list-style-type: none;
    padding: 0;
}

#productList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#productList li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#productList li button:hover {
    background-color: #c82333;
}

/* #productForm {
    margin-bottom: 20px;
    text-align: center;
}

.list h1 {
    justify-content: center;
    font-size: 3em;
}

#productForm input {
    padding: 8px;
    margin: 5px;
    width: 200px;
    font-size: 1rem;
}

#productForm button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

#productForm button:hover {
    background-color: #218838;
}

#productList {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}

#productList li {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#productList li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#productList li button:hover {
    background-color: #c82333;
}

.message {
    text-align: center;
    font-size: 1.2rem;
    color: green;
    display: none;
} */

footer {
    background-color: rgb(230, 230, 230);
    font-weight: normal;
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);

}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mb3 {
    justify-content: center;
    align-items: center;
}



@media (min-width:820px) and (max-width: 1024px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: column;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #us .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #us .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        min-width: 300px;
        text-align: left;
        padding: 10px;

    }

    #us .img-container {
        flex: 1;
        max-width: 500px;
        min-width: 300px;
        height: auto;
        aspect-ratio: 5 / 3;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img-us/paisaje.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #around .carts {
        display: flex;
        justify-content: center;
    }

    #around .carta h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    #around p {
        display: block;
        margin-bottom: 30px;
    }

    #around .carta {
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        /*
        width: calc(33.333% - 20px);
        min-width: 280px;
        max-width: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; */
    }

    #activities {
        background-image:
            /* linear-gradient(0deg,
                rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
            url("img-cart/senderismo.jpg");
        background-repeat: no-repeat;
        background-size: 600px 400px;
        background-position: calc(100vw - 400px) 120px;

    }

    footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #us .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #us .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        min-width: 300px;
        text-align: left;
        padding: 10px;

    }

    #us .img-container {
        flex: 1;
        max-width: 500px;
        min-width: 300px;
        height: auto;
        aspect-ratio: 5 / 3;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img-us/paisaje.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #around .carts {
        display: flex;
        justify-content: center;
    }

    #around .carta h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    #around p {
        display: block;
        margin-bottom: 30px;
    }

    #around .carta {
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        /*
        width: calc(33.333% - 20px);
        min-width: 280px;
        max-width: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; */
    }

    #activities {
        background-image:
            /* linear-gradient(0deg,
                rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
            url("img-cart/senderismo.jpg");
        background-repeat: no-repeat;
        background-size: 600px 400px;
        background-position: calc(100vw - 400px) 120px;

    }

    footer .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
    }
}

@media (min-width:1300px) {
    #activities {
        background-position-x: calc(100vw - 800px);
    }
}

@media (max-width: 720px) {

    #house {
        padding: 10px;
        min-height: auto;
        background-size: contain;
    }

    .gallery {
        width: 100%;
        max-width: 100%;

        .carousel img {
            width: 100%;
            height: auto;
        }

        .gallery button {
            padding: 5px;
            font-size: 14px;
        }
    }
}

@media (max-width: 600px) {
    .gallery1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .gallery1 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1025px) {
    .gallery1 {
        grid-template-columns: repeat(5, 1fr);
    }
}